<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/headerv2.ejs') %>

    <section class="about-us__banner">
        <div class="container">
            <div class="banner-box">
                <div class="banner-title">
                    <h1>Bauzer Hotels</h1>
                </div>
                <div class="banner-text">
                    <p>
                        Один из крупнейших гостиничных операторов страны по количеству номеров и географическому охвату – около 7000 номеров в 40 отелях в 32 городах России, Германии, Австрии и Израиля. Рожденная в России и ставшая международной гостиничная сеть бизнес-класса с единым центром бронирования, общей корпоративной культурой и едиными стандартами обслуживания
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us">
        <div class="container">
            <div class="about-us__box">
                <div class="about__box-text">
                    <h2>О нашей сети</h2>
                    <p>За годы работы мы стали частью жизни, характера и настроения множества городов России и мира. Мы достигли многого, и нам действительно есть, чем гордиться.</p>
                    <ul>
                        <li>— 15-летний опыт управления отелями</li>
                        <li>— Разработанные стандарты сервиса</li>
                        <li>— Лояльная аудитория гостей</li>
                        <li>— Один из самых динамично растущих и развивающихся брендов</li>
                    </ul>
                </div>
                <div class="about__box-info">
                    <li>
                        <div class="number">4</div>
                        <div class="text">страны</div>
                    </li>
                    <li>
                        <div class="number">32</div>
                        <div class="text">города</div>
                    </li>
                    <li>
                        <div class="number">40</div>
                        <div class="text">отелей</div>
                    </li>
                    <li>
                        <div class="number">15</div>
                        <div class="text">лет опыта</div>
                    </li>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>    
    <%- include('./partials/scripts.ejs') %>
</body>
</html>