<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/headerv2.ejs') %>

    <section class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Контакты</h2>
            </div>

            <h2>Управляющая компания</h2>

            <div class="contact-info">
                <img src="assets/img/sity.svg" alt="City">

                <h3>Управляющая компания «Bauzer Хотелс Компани»</h3>

                <p>Управляющая компания ООО «Bauzer Хотелс Компани» ул. Большая Полянка, 54с3, Москва, 119180 </p>

                <a href="tel:88002000048">8 800 200 00 48</a>
                <a href="mailto:info@bauzer.com">info@bauzer.com</a>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>    
    <%- include('./partials/scripts.ejs') %>
</body>
</html>