<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/header.ejs') %>

    <section class="main-screen">
        <div class="main-screen__box">
            <img src="assets/img/hostel-image-1.jpg" alt="Image 1">

            <div class="box-text">
                <h1>Bauzer Hotels</h1>
                <p>За годы работы мы стали частью жизни, характера и настроения множества городов России и мира . Мы достигли многого, и нам действительно есть, чем гордиться.</p>
                <p>— 5-летний опыт управления отелями</p>
                <p>— Разработанные стандарты сервиса</p>
                <p>— Лояльная аудитория гостей</p>
                <p>100% гарантия лучшей цены при бронировании на официальном сайте. <a href="/add-reserve">Забронируйте сейчас!</a></p>
            </div>
        </div>
    </section>

    <section class="specials">
        <div class="container">
            <div class="section-title">
                <h2>Спецпредложения</h2>
            </div>
            <div class="specials-list">
                <div class="specials-list__item">
                    <div class="item-img"><a href="special.html"><img src="assets/img/hostel-image-2.jpg" alt="Hostel Image"></a></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="special.html">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>

                <div class="specials-list__item">
                    <div class="item-img"><a href="special.html"><img src="assets/img/hostel-image-3.jpg" alt="Hostel Image"></a></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="special.html">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>

                <div class="specials-list__item">
                    <div class="item-img"><a href="special.html"><img src="assets/img/hostel-image-4.jpg" alt="Hostel Image"></a></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="special.html">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>

                <div class="specials-list__item">
                    <div class="item-img"><a href="special.html"><img src="assets/img/hostel-image-5.jpg" alt="Hostel Image"></a href="#"></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="special.html">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="section-title">
                <h2>Спа-Выходные?</h2>

                <div class="offers">
                    <div class="offers-list">
                        <h4>А вы знали, что в Bauzer Отель Санкт-Петербург можно устроить себе спа-выходные?</h4>

                        <li>Тем, кто приехал в город в командировку, сеанс массажа подарит расслабление в конце активного дня. </li>

                        <li>А для того, кто едет знакомиться питерской  архитектурой и историей, спа-уход или сеанс стоун-терапии прекрасно дополнят программу выходных.</li>

                        <li>Новое спецпредложение уже включает спа-процедуру на ваш выбор.</li>

                        <li>В стоимость входит:</li>

                        <div class="special-offer">
                            <p>Завтрак</p>
                            <p>Бесплатная парковка</p>
                            <p>WI-Fi</p>
                            <p>Поcещение бассейна (читайте правила посещения здесь)</p>
                            <p>1 СПА-процедура на выбор: массаж / стоун-терапия / СПА-уход</p>
                        </div>

                        <li>Массажный кабинет расположен на 4 этаже отеля напротив бассейна.</li>

                        <li>График работы: ежедневно, 09:00 – 21:00</li>
                    </div>
                    <div class="offers-img">
                        <img src="assets/img/hostel-image-4.jpg" alt="Hostel Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

    <!-- Modal HTML embedded directly into document -->
    <div id="ex1" class="modal">
        <h2>Найдем ваше бронирование</h2>
        <div class="login-box__info no-padding">
            <form action="#">
                <label for="email">
                    <p>Фамилия (латиницей):</p>
                    <input type="text" id="email" placeholder="Фамилия">
                </label>
                <label for="email">
                    <p>Номер бронирования:</p>
                    <input type="number" id="email" placeholder="Номер бронирования">
                </label>
                <label for="">
                    <button>Найти бронирование</button>
                </label>
            </form>
        </div>
    </div>
    


    <%- include('./partials/scripts.ejs') %>
</body>
</html>