<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/headerv2.ejs') %>

    <section class="specials">
        <div class="container">
            <div class="section-title">
                <h2>Спецпредложения</h2>
            </div>
            <div class="specials-list">
                <div class="specials-list__item">
                    <div class="item-img"><a href="#"><img src="assets/img/hostel-image-2.jpg" alt="Hostel Image"></a></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="javascript:void(0)">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>

                <div class="specials-list__item">
                    <div class="item-img"><a href="#"><img src="assets/img/hostel-image-3.jpg" alt="Hostel Image"></a></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="javascript:void(0)">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>

                <div class="specials-list__item">
                    <div class="item-img"><a href="#"><img src="assets/img/hostel-image-4.jpg" alt="Hostel Image"></a></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="javascript:void(0)">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>

                <div class="specials-list__item">
                    <div class="item-img"><a href="#"><img src="assets/img/hostel-image-5.jpg" alt="Hostel Image"></a href="#"></div>
                    <div class="item-title"><h3>Празднование 800-летия Александра Невского в Переславле</h3></div>
                    <div class="item-text">
                        <p>11-13 июня в Переславле-Залесском отмечают День рождения Великого князя Александра Невского. Приезжайте на праздник и отдохнуть в Bauzer Отель Переславль</p>
                    </div>
                    <div class="item-button">
                        <a href="javascript:void(0)">Узнать больше... <img src="assets/img/arrow-pointing-to-right.svg" alt="arrow-pointing-to-right"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %> 
    <%- include('./partials/scripts.ejs') %> 
    
</body>
</html>