<footer class="footer">
        <div class="container">
            <div class="footer-box">
                <div class="footer-box__info">
                    <div class="footer-logo">
                        <img src="../assets/img/logo.png" alt="Logo">
                        <h2>Bauzer</h2>
                    </div>

                    <a href="tel:88002000048">8 800 200 00 48</a>
                    <a href="mailto:info@bauzer.com">info@bauzer.com</a>

                    <div class="footer-social__list">
                        <div class="social-item"><a href="#"><img src="../assets/img/facebook.svg" alt="facebook"></a></div>
                        <div class="social-item"><a href="#"><img src="../assets/img/instagram.svg" alt="Instagram"></a></div>
                        <div class="social-item"><a href="#"><img src="../assets/img/vk-social-logotype.svg" alt="vk"></a></div>
                    </div>
                </div>
                <div class="footer-box__menu">
                    <div class="box-menu__title"><h3>Отели</h></div>
                    <div class="box-menu__list">
                        <li><a href="#">Москва</a></li>
                        <li><a href="#">Санкт-Петербург</a></li>
                        <li><a href="#">Геленджик</a></li>
                        <li><a href="#">Сочи</a></li>
                        <li><a href="#">Астрахань</a></li>
                        <li><a href="#">Владивосток</a></li>
                    </div>
                </div>
                <div class="footer-box__subs">
                    <div class="box-subs__title"><h3>Компания</h></div>
                    <div class="box-subs__list">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Спецпредложения</a></li>
                        <li><a href="#">Контакты</a></li>
                    </div>
                </div>
            </div>
            <div class="footer-politics">Все права защищены</div>
        </div>
    </footer>