<header class="header relative-header">
    <nav class="menu">
        <div class="logo">
            <a href="/">
                <img src="../assets/img/logo.png" alt="Logo Image">
                <h2>Bauzer</h2>
            </a>
        </div>
        <div class="menu-list">
            <li>
                <a href="javascript:void(0)" id="hostel-list">Отели <img src="../assets/img/down-arrow.svg" alt="Down Arrow"></a>
                <div class="mega-submenu">
                    <div class="city-menu">
                        <a href="#city-1" class="active">Россия</a>
                        <!-- <a href="#city-2">City 2</a>
                        <a href="#city-3">City 3</a> -->
                    </div>
                    <div class="city-box" id="city-1">
                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Москва</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>

                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Сочи</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">AZIMUT Отель FREESTYLE Роза Хутор 3*</a></li>
                                <li><a href="javascript:void(0)">Апартаменты VALSET SPORT от AZIMUT Роза Хутор 3*</a></li>
                                <li><a href="javascript:void(0)">Апартаменты VALSET CENTER от AZIMUT Роза Хутор 3* (на реновации)</a></li>
                                <li><a href="javascript:void(0)">Апартаменты VALSET HOME от AZIMUT Роза Хутор 3*</a></li>
                            </ul>
                        </div>

                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Астрахань</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">AZIMUT Отель Астрахань 3*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Волга Астрахань 4*</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="city-box" id="city-2">
                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Moscow 2</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>

                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>

                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="city-box" id="city-3">
                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Moscow 3</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>

                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>

                        <div class="city-box__item">
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                            <a href="javascript:void(0)"><h3>Moscow</h3></a>
                            <ul class="city-list">
                                <li><a href="javascript:void(0)">METROPOL Отель Москва 5*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Олимпик 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Смоленская 4*</a></li>
                                <li><a href="javascript:void(0)">AZIMUT Отель Тульская 4*</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/special">Спецпредложения</a></li>
            <li><a href="/about-us" class="active">О нас</a></li>
            <li><a href="/contact">Контакты</a></li>
        </div>
        <div class="menu-buttons">
            <a href="/account"> <img src="../assets/img/man-user.svg" alt="Man user"> Аккаунт</a>
            <a href="/add-reserve" class="reserv-btn"> <img src="../assets/img/briefcase.svg" alt="briefcase"> Бронирование</a>
        </div>
    </nav>
</header>